
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Roboto:wght@500&display=swap');

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 550px}
 
 /* Set gray background color and 100% height */
 .sidenav {
   background-color: #f1f1f1;
   height: 100%;
 }
     
 /* On small screens, set height to 'auto' for the grid */
 @media screen and (max-width: 767px) {
   .row.content {height: auto;} 
 }

 body{
 background-color: ;
 	 font-family: 'Be Vietnam Pro', sans-serif;

}
.login{
  
  width:330px;
 height:330px; 
 border-radius: 5px;
 border: 1px solid #ff0000;
 border-style: groove; 
 margin-top:120px;
 margin-bottom: 240px;
 margin-right: 350px;
 margin-left: 355px;
 background-color: lightblue;
 border-color:none;
 padding-top:50px;
 align-items: center;
 
 border:none;
 	 font-family: 'Be Vietnam Pro', sans-serif;
 border-style:shadow;
 font-family:Roboto,'sans-serif';
}
table,tr,td{
 color:blue;
 padding-bottom:10px;
 text-align:center;
 font-family:Roboto,'sans-serif';

}

input[type=submit]{
 color:black;
 background-color: #33ff33;
 border:none;
 padding:4px 40px;
 border-radius: 4px;
 text-align:center;
 font-family:Roboto,'sans-serif';
}
input[type=submit]:hover{
 background-color:  #00ff80;
}

